Question 1: In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [ ]:
# * is an expression
# 'hello' is value
#-87.8 is a value
# - is an expression 
# / is an expression 
# +	is an expression 
# 6 is a value

Question 2: What is the difference between string and variable?

Answer 2:
A variable is something which is created to store any kind of information such as an integer number, a float number, a complex number or a string.
A string is a type of information which can be stored in a variable. For example, a word 'university' can be stored in a variable a. a='university'. Here a is a variable and university is a string which has now been stored in the variable a.

In [9]:
# variable stores any kind of information
a=10
# string is a type of information that can be stored in a variable
b='country'
print(type(b))

<class 'str'>

Question 3: Describe three different data types.

Anser 3: Different type of data types are:
1. Numeric: These can be integers (example: 1, 2, -4), float (example: 12.3, 15.67), complex (example: -4+5j)
2. Sequence: this type helps us to store multiple values in an organized way. Different types in sequence data types are:
a. List (example: [1,5,6],['apple','peach','mango'] 
b. tuple (example: (4,6,8)
c. string (example: 'country')
3. Dictionary: this has key and value pairs. Example (['a': "cat','b':'dog,'c':'tiger'])
4. Boolean: True or False
5. set: colleaction of many objects. Example ({2,4,'lime','china',12}

In [ ]:
# numeric data type
a=2
print(type(a))

In [6]:
# sequence data type: list, tuple, string
b=[4,5,6]
print(type(b))
c=(5,4,3)
print(type(c))
d='country'
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'str'>

In [5]:
#dictionary data type
f={'a':'cat','b':'dog','c':'tiger'}
print(type(f))
# boolean data type
g=12>=13
print(g)
print(type(g))

<class 'dict'>
False
<class 'bool'>

In [8]:
# set data type
h={2,3,4,5,3,5,7,8}
print(h)
print(type(h))

{2, 3, 4, 5, 7, 8}
<class 'set'>

Question 4: What is an expression made up of? What do all expressions do?

An expression is a combination of operators and operand used to provide a result. Type of expressions in python:

In [ ]:
# 1.constant expression. 
a=10+2
print(a)

In [ ]:
# 2. arithmetic expression
x=4
y=6
add=x+y
print (add)

In [ ]:
# 3. Ingegral expression: gives integer as a result
a=12
b=3.4
sum=a+int(b)
print(sum)

In [ ]:
# 4. Floating expression: these give output as floating numbers
c=16
d=5
div=c/d
print(div)

In [ ]:
# 5. Relational expression: here the expressions on the left and right side of '=' sign are evaluated and the result
# is shown in True or False
a=2
b=6
c=8
d=1
k=(b-a)>=(c+d)
print(k)

In [ ]:
# 6. Logical expression: similar to Relational expression, these result into True or False depending on the logic
# we wish to check. We make use of 'and','or','not' operators in these expressions.
a=(5==6)
b=(8>4)
m=a and b
print(m)

In [10]:
# Question 5: After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
print(bacon)
# bacon will still contain value 22 because we are not writing bacon=bacon+1

22

In [14]:
# Question 7. What should the values of the following two terms be?
'spam' + 'spamspam'
# the two srings will get concatenated

'spamspamspam'

In [16]:
'spam' * 3
# the string 'spam' will concatenated with itself thrice

'spamspamspam'

In [18]:
'''Question 8: Why is eggs a valid variable name while 100 is invalid?
The term egg can be used to store any type of value say a string, an integer, a float. But 100 is itself an integer 
value which can be stored in any variable.
'''

'Question 8: Why is eggs a valid variable name while 100 is invalid?\nThe term egg can be used to store any type of value say a string, an integer, a float. But 100 is itself an integer \nvalue which can be stored in any variable.\n'

In [19]:
# Question 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [22]:
# Answer 9
# use if int() to get the integer value
int(12.3)

56.0

In [23]:
# use of float() to get floating point number
float(56)

56.0

In [25]:
# use of str() to get string version of a value
str(12)

'12'

In [27]:
# Question 10. Why does this expression cause an error? How can you fix it?
# 'I have eaten ' + 99 + ' burritos.'
# this will cause an error because we are trying to contatenate a string with an integer which is not allowed
# in python. To concatenate these three, we should have all these three in string format:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'